In [1]:
import pandas as pd
import random
from datetime import datetime, timedelta

In [2]:
df = pd.read_csv("class_dataset.csv")

In [3]:
df.head()

    Student_ID           First_join           Last_leave Total_time
0  Student_001  01/28/2022 08:07:00  01/28/2022 09:49:00   01:42:00
1  Student_002  01/28/2022 08:11:00  01/28/2022 08:32:00   00:21:00
2  Student_003  01/28/2022 08:11:00  01/28/2022 08:19:00   00:08:00
3  Student_004  01/28/2022 08:09:00  01/28/2022 09:44:00   01:35:00
4  Student_005  01/28/2022 08:03:00  01/28/2022 09:26:00   01:23:00

In [4]:



# We need to split the time from the date
def Splitting(df):
    df['Date_Join'] = pd.to_datetime(df['First_join']).dt.date
    df['Time_Join'] = pd.to_datetime(df['First_join']).dt.time
    df['Date_Leave'] = pd.to_datetime(df['Last_leave']).dt.date
    df['Time_Leave'] = pd.to_datetime(df['Last_leave']).dt.time
    # the class starts 8:00 am but the extra ten mintues to allow for late students. 
    df["Class_Time"] = pd.to_datetime("8:10:00").time()

Splitting(df)


# late studetns are those who attended the class 10 mintues late. 
df["Attendees"] = df["Time_Join"] < df["Class_Time"]
df["Attendees"] = df["Attendees"].astype(int)

# Calculate attendance statistics
Date = df["Date_Join"].max()
Course_Name = "Health Informatics"
Day = "Tuesday"
Total = 100
Attendees_Tot = df["Attendees"].sum()
data = {
    'Date': [Date],
    'Day': [Day],
    'Course_Name': [Course_Name],
    'Total_Students': [Total],
    'Total_Attendees': [Attendees_Tot]
}
df = pd.DataFrame(data)

df["Total_Absents"] = df["Total_Students"] - df["Total_Attendees"]
df["Attendance_Percentage"] = round(df["Total_Attendees"] / df["Total_Students"] * 100, 2)
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
df

,Date,Day,Course_Name,Total_Students,Total_Attendees,Total_Absents,Attendance_Percentage
0,2022-01-28,Tuesday,Health Informatics,100,63,37,63.0